* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace
}

.nav {
    background-color: black;
    color: white;
}

.logo {
    position: absolute;
    top: 3px;
}

.logo img {
    filter: invert(1);
    height: 40px;

}

.mid ul {
    height: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.mid ul li {
    padding: 5px;
    cursor: pointer;
    list-style: none;
}

#clockContainer {
    position: relative;
    display: flex;
    /* margin: 40px; */
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}
.clock{
    margin: 40px;
}
.clock img {
    height: 35vw;
}

#center {
    background-color: black;
    border-radius: 50%;
    position: relative;
    height: 1.4vw;
    width: 1.4vw;
    top: 18vw;
    left: 17vw;
}

#date,
#time {
    font-size: 1.2rem;
    font-weight: bolder;
}

#hour {
    position: absolute;
    width: 4px;
    height: 10vw;
    background-color: black;
    transform: translate(12.5vw, 12.5vw);
    transform-origin: bottom;
    border-radius: 5px;
    /* display: none; */
}

#minute {
    border-radius: 5px;
    position: absolute;
    transform-origin: bottom;
    transform: translate(11vw, 11vw);
    width: 4px;
    height: 12.5vw;
    background-color: black;
    /* display: none; */
}

#second {
    transform-origin: bottom;
    transform: translate(10vw, 10vw);
    border-radius: 5px;
    position: absolute;
    width: 4px;
    height: 15vw;
    background-color: black;
    /* display: none; */
}

@media only screen and (max-width:900px){
    .clock {
        height: 45vw;
    }
    #clockContainer{
        flex-direction: column;
    }
}